@import url('reset.scss');

:root {
  /* ----- colors ----- */
  --primary-bg: rgb(163 107 44);
  --secondary-bg: rgb(192 152 106);
  --ternary-bg: rgb(204 178 155);
  --quaternary-bg: #ded7d9;

  --border-color: rgb(60 24 0);

  /* ----- generalized elements ----- */
  --border: 1px solid var(--border-color);
  --top-nav-height: 4.5em;
  // removing .5em twice for the navbar's .5em padding
  // removing 5px twice for each element's 5px margin
  --top-nav-inner-div-height: calc(var(--top-nav-height) - 1em - 10px);

  /* ----- logo element ----- */
  --logo_url: url('../assets/logo.png');
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg: rgb(14 11 9);
    --secondary-bg: #16110d;
    --ternary-bg: #211b15;
    --quaternary-bg: #130d08;

    --text-color: #ded7d9;
    --border-color: rgb(204 178 155);

    /* ----- logo element ----- */
    --logo_url: url('/src/assets/logoDark.png');
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: var(--text-color);
  font-size: 1.25em;
}

button {
  background-color: var(--quaternary-bg);
  color: var(--text-color);
}

#top-nav {
  width: 100%;
  height: var(--top-nav-height);
  padding: 0.5em;
  border-bottom: var(--border);
  background-color: var(--primary-bg);
  display: flex;
  flex-wrap: wrap;
}

#left,
#right {
  height: 100%;
}

#left {
  flex-grow: 1;
}

#left > *,
#right > * {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}

#logo {
  background-image: var(--logo_url);
  background-size: var(--top-nav-inner-div-height);
  height: var(--top-nav-inner-div-height);
  width: var(--top-nav-inner-div-height);
}

.adjuster {
  height: var(--top-nav-inner-div-height);
}

/* ----- taken from https://www.w3schools.com/css/css_dropdowns.asp ----- */
.drop-button {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-content {
  display: none;
  position: absolute;
  z-index: 10;
}

.drop-content a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
  border: var(--border);
  background-color: var(--primary-bg);
}

.dropdown-content a:hover {
  background-color: var(--primary-bg);
}

.dropdown:hover .drop-content {
  display: block;
}

/* ----- end code snippet ----- */

#main {
  flex-grow: 1;
  display: flex;
  height: calc(100vh - var(--top-nav-height));
  background-color: var(--ternary-bg);
}

#main #clusters {
  height: 100%;
  min-width: 15em;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-right: var(--border);
  background-color: var(--secondary-bg);
}

#clusters ul {
  flex-grow: 1;
}

#clusters footer {
  padding: 1em 0.5em;
  border-top: var(--border);
  background-color: var(--primary-bg);
}

#main #metrics {
  flex-grow: 1; /* this is the growth inside #main */
  display: flex;
  flex-direction: column;
  height: 100%;
}

#metrics #charts {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2em;
  overflow-y: scroll;
  max-height: calc(100% - 1em);
}

.chartCanvas {
  min-height: 450px;
  min-width: 600px;
  height: calc(80% / 2);
  width: calc(80% / 2);
  margin: 2em;
  background-color: black;
  border: var(--border);
  color: var(--ternary-bg);
}

#add-chart {
  cursor: pointer;
}

.chartCanvas span {
  height: 100%;
  display: grid;
  place-items: center;
}

#metrics footer {
  width: 100%;
  padding: 1em;
  border-top: var(--border);
  background-color: var(--secondary-bg);
}

#metrics footer form {
  display: flex;
}

#metrics footer form input {
  flex-grow: 1;
  background-color: var(--ternary-bg);
  color: var(--text-color);
}

#metrics footer button {
  margin: 0 2em;
}
